﻿@model MVCGuestBook.Chat
@{
    ViewBag.Title = "Chat";
}
<section>
    <article>
        <header>
            <h2>Наш чат</h2>
        </header>
        @using (var formChat = @Html.BeginForm())
        {
            <fieldset>
                <pre><span>@Model.History</span></pre>
                <br />
                @Html.LabelFor(m => m.Message)
                @Html.TextBoxFor(m => m.Message)
                @Html.ValidationMessageFor(m => m.Message)
                @Html.ValidationSummary()
                <input type="submit" value="Submit" />
            </fieldset> 
        }
    </article>
</section>