﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="pageheader">
        <header>
            <div class="langbar">
                <input name="LangButton1" id="ImageButton1" type="image" src="~/Content/images/RU.png">
                <input name="LangButton2" id="ImageButton2" type="image" src="~/Content/images/UK.png">
            </div>

            <hgroup>
                <h2>Site Title</h2>
            </hgroup>
        </header>
    </div>
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contacts", "Contacts", "Home")</li>
            <li>@Html.ActionLink("Chat", "Chat", "Home")</li>
        </ul>
    </nav>
    <div class="body">
        @RenderBody()
    </div>
    <div class="pagefooter">
        <footer>
            <address>&copy; @DateTime.Now.ToShortDateString() Dmitry Romanenko</address>
        </footer>
    </div>
</body>
</html>
