html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font: 0.92em/1.4 "Segoe UI",Tahoma,Arial,"MS Sans Serif",sans-serif;
    width: 800px;
}

.pageheader {
    background-color: #48576A;
    height: auto;
    padding: 0 10px 0 10px;
    margin-top: 15px;
    border: 1px solid silver;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.langbar {
    border: none;
    display: inline-block;
    float: right;
}

hgroup {
    color: #EEF6FF;
    text-align: center;
}

nav {
    margin-top: 5px;
    background-color: #48576A;
    border: 1px solid silver;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

    nav > ul {
        margin: 2px;
        padding: 0;
        text-align: center;
    }

    nav > ul > li {
        margin: 0;
        padding: 0 20px;
        list-style: none;
        display: inline-block;
    }

    nav > ul > li > a {
        color: #EEF6FF;
        padding: 0 20px;
        margin-left: 1px;
        margin-right: 1px;
        white-space: nowrap;
        width: 80px;
        border: 1px solid #48576A;
        text-decoration: none;
    }

    nav > ul > li > a:hover {
        color: #EEF6FF;
        background: #001C3F;
        border: 1px solid silver;
    }

section {
    background-color: #48576A;
    margin-top: 5px;
    padding: 0;
    height: auto;
    width: auto;
    border: 1px solid silver;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

    section > article {
        background-color: #EEF6FF;
        margin: 5px;
        padding: 0;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    section > article.error {
        background-color: pink;
    }

    section > article > header {
        padding: 0;
    }

    section > article > header > h2 {
        padding: 0;
        color: #48576A;
        text-align: center;
    }

    section > article > p {
        padding: 0;
        margin: 5px;
        text-indent: 1em;
        text-align: justify;
        font-size: small;
        overflow: auto;
    }

    section > article > p > img {
        position: relative;
        margin: 5px 10px 5px 0;
        padding: 0;
        float: left;
        border-top: 1px solid silver;
        border-left: 1px solid silver;
        border-radius: 4px 0;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    }

ul {
    margin: 5px;
    text-indent: 1em;
    font-size: small;
}

form {
    margin: 5px;
    width: auto;
}

fieldset {
    padding: 5px;
    font-size: small;
    border: none;
}

    fieldset > legend {
        padding: 0;
        margin: 0;
    }

    fieldset > input {
        margin: 2px 2px 2px 3px;
    }

    fieldset > input[type="submit"] {
        width: 100px;
    }

    fieldset > textarea {
        margin: 2px 2px 2px 3px;
        width: 300px;
    }

    fieldset > pre {
    	background: white;
        border: 1px solid silver;
	    height: auto;
	    max-height: 30em;
	    overflow: auto;
    }

    fieldset > pre span {
        padding: 2px;
        font-size: small;
        font-family: "Segoe UI",Tahoma,Arial,"MS Sans Serif",sans-serif;
    }

a {
    text-decoration: none;
}

    a[href^="http"] {
        padding-right: 16px;
        background: url("images/extref.png") no-repeat right center;
    }

.pagefooter {
    background-color: #48576A;
    margin-top: 5px;
    padding: 3px 5px;
    font-size: 0.6em;
    text-align: center;
    height: auto;
    border: 1px solid silver;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

    .pagefooter address {
        color: #EEF6FF;
        font-size: 12px;
    }